::: {% if method.deprecated %}warning <span title="This method is deprecated. This means that this method will likely be removed in a future version." style="float: right;">[deprecated]</span>{% else %}tip{% endif %} <span title="{{ class.name}}::{{method.name}}">{{ method.name }}</span> <kbd style="float: right; font-weight: normal;">method</kbd>
-----
