::: {% if method.deprecated %}warning {% else %}tip{% endif %} <span title="{{ class.name}}::{{method.name}}">{{ method.name }}</span> <Badge  text="deprecated" type="error" v-if="{{ method.deprecated|default('false') }}"/>
-----
